/bridge_support_demo.jl
/demo_3dof.jl
/hosvd.jl
/Manifest.toml
/README_Vertical_Supports.md
/simple_mor_test.jl
/support_damage_demo.jl
/test_3dof.jl
/test_supports.jl

/data
*.gif
*.png
*.jpg
*.jpeg
*.svg
*.pdf

.vscode/*
